.middle{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none;
}

.loading{
    width: 6.25rem;
    height: 6.25rem;
    border-style: solid;
    border-radius: 50%;
    border-width: 1rem;
    position: absolute;
}

.c{
    width: 0.55rem;
    height: 0.55rem;
    border-style: solid;
    border-radius: 50%;
    border-width: 0.46rem;
}
.c1{
    color: red;
    position: relative;
    top: -0.35rem;
}
.c2{
    color: blue;
    position: relative;
    bottom: -2.8rem;
    left: 3.3rem;
}
h1{
    font-size: 3rem;    
}

@keyframes splash-main {
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
        bottom: 50%;
    }
}